@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
body{ 
font-family: 'Noto Sans JP', sans-serif;
}

.logo{
    margin-left: 20px;
    margin-top: 20px;
}
.container{
    display:flex
}

.header{
    background-color:#FCFCFD;
    margin-top: 2%;
    height: 90vh;

}

.header img{
    margin-top: 5px;
    padding-left: 100px;
    padding-top: 30%;
}

.header h1{
    
    margin-left: 100px;
    font-size: 40px;
    width: 50%;
    justify-content: space-between;
    word-spacing: 10px;
    

}
.header p{
    
    font-weight: normal;
    margin-left: 100px;
    width:50%;
    font-size: 18px;
    color: rgb(63, 60, 60);
    justify-content: space-between;
    word-spacing: 3px;
    line-height: 30px;
}



.login{
    width: 30%;
    height: fit-content;
   display: flex;
   flex-direction: column;
   border-radius: 5px;
   border: 1px solid lightgray;
   padding: 30px;
   margin-top: 18%;
   margin-right: 5%;
   margin-left: 10%;
}
.login h1{
    font-weight:inherit;
    color: black;
    font-size: 30px;
    text-align: center;

}





.form input{
    border-radius: 5px;
    font-size: larger;
    display: block;
    padding: 5px;
    margin: 10px auto;
    width: 70%;

}



.button1{
    
    color:white;
    background-color:#142783;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    width: 30%;
    border-color: #142783;
    font-weight: bolder;
    font-family: 'Noto Sans JP', sans-serif;
    display: inline;
    margin-left: 17%;
    margin-top: 15px;
    
}
.button2{
    color:#488DF3;
    background-color:white;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    width: 30%;
    border-color:#488DF3;
    font-weight: bolder;
    font-family: 'Noto Sans JP', sans-serif;
    display: inline;
    margin-left: 7%;
    margin-top: 15px;
    
}
