@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Noto Sans JP", sans-serif;
}

.card {
  margin:2%;
  display: inline-block;
  width: 20%;
  box-shadow: 5px 5px 10px 2px rgb(179, 179, 179,0.8);
  border-radius: 10px;
}

.card-img {
  width: 100%;
}
.heading {
  padding-left: 5px;
  color: #1e272e;
}

.desc{
  padding: 0 5px 15px 5px;
  color: #566474;
}
